<header class="header">
  <div class="header__container">
    <a href="#" class="header__logo">
      <img src="img/logos/logo.svg" alt="" />
    </a>
    <div class="header__inner">
      <nav class="header__nav">
        <ul class="list">
          <li class="list__item">
            <a href="#" class="list__link">О нас</a>
          </li>
          <li class="list__item">
            <a href="#" class="list__link">Проекты</a>
          </li>
          <li class="list__item">
            <a href="#" class="list__link">Новости</a>
          </li>
          <li class="list__item">
            <a href="#" class="list__link">Галерея</a>
          </li>
          <li class="list__item">
            <a href="#" class="list__link">Карьера</a>
          </li>
          <li class="list__item">
            <a href="#" class="list__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="hamb">
        <img src="img/hamb.svg" alt="" />
      </a>
    </div>
  </div>
</header>
